{% extends 'base.html' %}

{% block content %}
<h1>Chess with Flask!</h1>

<div class="Chess-Board-Main">
    <div class="Chess-Board-Row">
        <span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span>
    </div>
    <div class="Chess-Board-Row">
        <span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span>
    </div>
    <div class="Chess-Board-Row">
        <span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span>
    </div>
    <div class="Chess-Board-Row">
        <span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span>
    </div>
    <div class="Chess-Board-Row">
        <span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span>
    </div>
    <div class="Chess-Board-Row">
        <span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span>
    </div>
    <div class="Chess-Board-Row">
        <span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span>
    </div>
    <div class="Chess-Board-Row">
        <span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span><!--
        --><span class="Dark-Sq"></span><!--
        --><span class="Light-Sq"></span>
    </div>
</div>
{% endblock %}